html,
body {
  margin: 0;
  padding: 0;
  background-color: #b6b6b6;
  font-family: sans-serif, serif;
  margin-bottom: 85px;
}

header {
  margin: 10px;
}

.header-logo {
  height: inherit;
}

.header-logo img {
  width: 140px;
  /* same height as navbar */
  height: 85px;
  border-radius: 5px;
}

#navbar {
  background: #1c2331;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  border-radius: 10px;
  color: #fff;
  font-size: large;
}

.menu-items {
  display: flex;
  padding: 0;
  justify-content: center;
}

.menu-items ul {
  margin: 1rem;
  cursor: pointer;
}

.menu-items,
.login-btn {
  margin: 16px;
}

.login-btn button {
  height: 41px;
  width: 80px;
  border-radius: 10px;
  background-color: #f1f2f2;
  cursor: pointer;
}

.rentcar-body {
  width: 50%;
  height: 200px;
  margin: auto;
  background-color: #dfdfdf;
  border: 1px #a1a1a1 solid;
  border-radius: 10px;
}

.rentcar-body p {
  text-align: center;
}

.rentcar-form {
  margin: 10px;
}

.rentcar-form label {
  display: inline-block;
  width: 85px;
  margin-bottom: 10px;
}

footer {
  max-width: 100vw;
  height: 111px;
  background-color: #1c2331;
  color: #fff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-info p a {
  color: #fff;
}

#contact-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.company-info {
  width: 50%;
}

.body-section > h2 {
  color: #fff;
  margin-left: 20px;
  text-decoration: underline;
}

.rental-car-container {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  margin: 20px;
}

.rental-car-card {
  margin: 0 10px 10px 0;
  width: calc(100% / 3);
  height: 200px;
  background-color: #1c2331;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 10px;
}

.rental-car-info {
  width: 50%;
  color: #fff;
}

.rental-car-card img {
  width: 50%;
  height: inherit;
  object-fit: cover;
  border-radius: 10px;
}

.rental-car-info > h4 {
  color: #8d8d8d;
  margin: 2px 0;
}

.rental-car-pricing {
  display: flex;
  margin: 30px 10px 0 0;
  align-items: center;
  justify-content: space-between;
}

.rental-car-pricing-btn {
  background-color: #005ab9;
  width: 80px;
  height: 41px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.faq-container {
  max-width: 100vw;
  margin: 20px;
}

.faq-container > details {
  padding: 0.5em 0.5em 0.5em;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.faq-container > details:hover {
  cursor: pointer;
}
.faq-container summary {
  font-weight: bold;
}

.faq-container > details[open] summary {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5em;
}

#table-container {
  margin: 20px;
  max-width: 1500px;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
}

th,
td {
  padding: 5px;
  border: 1px solid black;
}

#videos-container {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  margin: 20px;
  overflow-y: auto;
}

#videos-container::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

#videos-container:hover {
  cursor: pointer;
}

#videos-container::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #1c2331 0%, #1c2331 100%);
  border-radius: 5px;
}

#video-card {
  width: 560px;
  margin-right: 20px;
}

#video-card iframe {
  border-radius: 10px;
}
