#calculator {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin: 20px 0;
}

.error {
  color: red;
}
