body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

label {
  font-size: 24px;
  display: block;
  margin: 20px 0;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

#datePicker {
  font-size: 16px;
  padding: 10px;
}
