@media screen and (min-width: 768px) and (max-width: 991px) {
  .gallery .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .gallery .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .gallery .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
