@media screen and (min-width: 768px) and (max-width: 991px) {
  .nav {
    ul {
      display: none;
    }
  }

  .gallery .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    grid-template-columns: repeat(3, 1fr);
  }

  .functionality-cards {
    flex-wrap: wrap;

    div {
      flex: 1;
      flex-basis: 395px;
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .nav {
    ul {
      display: none;
    }
  }

  .gallery .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .functionality-cards {
    flex-wrap: wrap;

    div {
      flex: 1;
      flex-basis: 395px;
    }
  }
}

@media screen and (min-width: 50px) and (max-width: 500px) {
  .nav {
    justify-content: space-evenly;

    ul {
      display: none;
    }

    img {
      margin-right: 0;
    }

    button {
      display: none;
    }
  }

  .gallery .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .functionality-cards {
    flex-wrap: wrap;

    div {
      flex: 1;
      flex-basis: 395px;
    }
  }
}
